{% extends 'layout.html' %} 

{% load crispy_forms_tags %} 


{% block head %} 
<title>Course Creation</title>
{% endblock %} 

{% block body %} 
<h2>Create Course:</h2>
<form action="{% url 'core:course_create' %}" method="post">
    {% csrf_token %} 
    {{ form|crispy }} 
    First Day: <select name="first_day">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option> 
    </select>&emsp;

    Second Day: <select name="second_day">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
    </select><br/><br/>
    <button type="submit">Create</button>
    <a href="{% url 'core:index' %}">
        <button type="button">Back to Homepage</button>
    </a>
</form>
<p>
</p>
{% endblock %} 