{% extends 'layout.html' %} 
{% load static %} 

{% block head %} 
<title>Delete Interval</title>
{% endblock %} 

{% block body %} 
<form action="{% url 'core:user_interval_delete' username=request.user.username, pk=interval.pk %}" method="post">
    {% csrf_token %} 
    <h2>Are you sure you want to delete this Interval?</h2><br/>
    <a href="{% url 'core:user_details' request.user.username %}">
        <button type="button">Back to Teacher</button>
    </a>
    <button type="submit">Delete Interval</button>
</form>
{% endblock %} 