{% extends 'layout.html' %} 

{% load crispy_forms_tags %} 

{% block head %} 
<title>Create Interval</title>
{% endblock %} 

{% block body %} 
<h2>Create Interval:</h2>
<form action="{% url 'core:user_interval_create' username=request.user.username %}" method="post">
    {% csrf_token %} 
    {{ form|crispy }}
    <br/>
    Day: <select name="day">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
    </select><br/><br/>
    <button type="submit">Create</button>
    <a href="{% url 'core:index' %}">
        <button type="button">Back to Homepage</button>
    </a>
</form>
{% endblock %}