{% extends 'layout.html' %} 
{% load crispy_forms_tags %} 

{% block head %} 
<title>Update Interval</title>
{% endblock %} 

{% block body %} 
<h2>Update Interval:</h2>
<form action="{% url 'core:user_interval_update' username=request.user.username pk=interval.pk %}" method="post">
    {% csrf_token %} 
    {{ form|crispy }}
    <br/>
    Day: <select name="day">
        <option {% if interval.day == 'Monday' %}selected{% endif %}>Monday</option>
        <option {% if interval.day == 'Tuesday' %}selected{% endif %}>Tuesday</option>
        <option {% if interval.day == 'Wednesday' %}selected{% endif %}>Wednesday</option>
        <option {% if interval.day == 'Thursday' %}selected{% endif %}>Thursday</option>
        <option {% if interval.day == 'Friday' %}selected{% endif %}>Friday</option>
    </select><br/><br/>
    <button type="submit">Update</button>
    <a href="{% url 'core:index' %}">
        <button type="button">Back to Homepage</button>
    </a>
</form>
{% endblock %} 