{% extends 'layout.html' %} 

{% load static %} 
{% load markdown_extras %} 

{% block head %} 
<title>Department #{{ department.department_number }}</title>
{% endblock %} 

{% block body %} 
<h2>Department #{{ department.department_number }} Details:</h2>
<p>
    <b>Name: </b> {{ department.name }}
</p>
<p>
    <b>Description: </b>
    {% if department.description %} 
        <div id="bio">
            {{ department.description | markdown | safe }}
        </div> 
    {% else %} 
    ---
    {% endif %}
</p>
<p>
    <b>Department Number: </b> {{ department.department_number }}
</p>
<p>
    <b>Manager: </b>
    <a href="{% url 'core:user_details' department.manager.username %}">
        {{ department.manager.username }}
    </a>
</p>
{% if request.user.is_authenticated %} 
    {% if request.user == department.manager %} 
        <a href="{% url 'core:department_update' department.department_number %}">
            <button type="button">
                Update Information
            </button>
        </a>
    {% endif %} 
{% endif %}
<br/><br/><br/>
<h3>Courses:</h3>
<ul>
    {% for course in department.courses.all %} 
        <h5>
            <li>
                <a href="{% url 'core:course_details' course.course_number %}">
                    {{ course.name }}
                </a>
            </li>
        </h5>
    {% empty %} 
        <li>No course from this department is already available.</li>
    {% endfor %} 
</ul>
{% endblock %} 