a, b, h1, h2, h3 {
    color: orange !important;
    text-decoration: none !important;
    
}
a:hover {
    color: orangered !important
}

body, html {
    height: 100%;
}

body {
    background-image: url("background.jpg");
}
button {
    border-radius: 10px !important
}
input {
    border-radius: 10px;
}
#messages {
    text-align: left !important
}
img {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    border: 5px solid orange
}
img:hover {
    border: 10px solid orange

}
#bio {
    border: 3px solid black;
    padding: 10px;
    width: 40%;
}