{% extends 'layout.html' %} 

{% load static %} 


{% block head %} 
<title>Profile</title>
<style>
    img {
        height: 200px; 
        width: 200px;
        border-radius: 50%;
        border: 5px solid orange
    }
    img:hover {
        border: 10px solid orange

    }
</style>
{% endblock %} 

{% block body %} 
<p>
    <b>Profile Photo:</b>
    {% if user.image %} 
        <div>
            <img src="{{ user.image.url }}" alt="User Image"/>
        </div>
    {% else %}
        No Image 
    {% endif %}
    
</p>
<p>
    <b>First Name: </b> 
    {% if user.first_name %}
        {{ user.first_name }}
    {% else %} 
        ---
    {% endif %}
</p>
<p>
    <b>Last Name: </b>
    {% if user.last_name %}
        {{ user.last_name }}
    {% else %} 
        ---
    {% endif %}
</p>

<p>
    <b>Username: </b> {{ user.username }}
</p>
<p>
    <b>Role: </b>
    {% if user.is_staff %} 
    Teacher 
    {% else %} 
    Student
    {% endif %} 
</p>
<p>
    <b>Email: </b> {{ user.email }}
</p>
<p>
    <b>Bio: </b> {{ user.bio }}
</p>
<p>
    <b>Gender: </b> {{ user.gender }}
</p>

{% if request.user.is_authenticated %} 
    {% if request.user == user %} 
        <a href="{% url 'core:user_update' user.username %}">
            <button type="button">
                Update Information
            </button>
        </a>
        <br/></br>
        <a href="{% url 'core:index' %}"><button type="button">Add Interval</button></a>
    {% endif %} 
    {% if not user.is_staff %} 
    <br/><br/><br/>
    <h3>Participates in:</h3>
        <ul>
            {% for course in user.participated_courses.all %} 
                <a href="{% url 'core:course_details' course.course_number %}">
                    <h5><li>{{ course.name }}</li></h5>
                </a>
            {% empty %} 
                <li>No courses have been added yet.</li>
            {% endfor %} 
        </ul>
    {% else %}
    <h3>Courses:</h3>
    <ul>
        {% for course in user.courses.all %} 
            <h5>
                <li>
                    <a href="{% url 'core:course_details' course.course_number %}">
                        {{ course.name }}
                    </a>
                </li>
            </h5>
        {% empty %} 
            <li>No Course from this Teacher is available.</li>
        {% endfor %} 
    </ul>
    <br/><br/>
    <h3>Intervals:</h3>
    <ul>
        {% for interval in user.intervals.all %} 
            <li>{{ interval.start_time }} to {{ interval.end_time }} - Capacity: {{ interval.caparity }} --> <a href="{% url 'core:index' %}">
                <button type="button">Reserve</button>
            </a>
            </li>
            
        {% empty %} 
            <li>No Intervals are available for this teacher.</li>
        {% endfor %} 
    </ul> 
    {% endif %}
{% endif %}
{% endblock %} 