{% extends 'layout.html' %} 

{% load static %} 
{% load markdown_extras %} 


{% block head %} 
<title>Profile</title>
{% endblock %} 

{% block body %} 
<p>
    <b>Profile Photo:</b>
    {% if user.image %} 
        <div>
            <img src="{{ user.image.url }}" alt="User Image"/>
        </div>
    {% else %}
        No Image 
    {% endif %}
    
</p>
<p>
    <b>First Name: </b> 
    {% if user.first_name %}
        {{ user.first_name }}
    {% else %} 
        ---
    {% endif %}
</p>
<p>
    <b>Last Name: </b>
    {% if user.last_name %}
        {{ user.last_name }}
    {% else %} 
        ---
    {% endif %}
</p>

<p>
    <b>Username: </b> {{ user.username }}
</p>
<p>
    <b>Role: </b>
    {% if user.is_staff %} 
    Teacher 
    {% else %} 
    Student
    {% endif %} 
</p>
<p>
    <b>Email: </b> {{ user.email }}
</p>
<p>
    <b>Bio: </b>
    {% if user.bio %} 
        <div id="bio">
            {{ user.bio | markdown | safe }}
        </div> 
    {% else %} 
    ---
    {% endif %}
</p>
<p>
    <b>Gender: </b> {{ user.gender }}
</p>

{% if request.user.is_authenticated %} 
    {% if request.user == user %} 
        <a href="{% url 'core:user_update' user.username %}">
            <button type="button">
                Update Information
            </button>
        </a>
        <br/></br>
    {% endif %} 
    {% if not user.is_staff %} 
    <br/><br/><br/>
    <h3>Participates in:</h3>
        <ul>
            {% for course in user.participated_courses.all %} 
                <a href="{% url 'core:course_details' course.course_number %}">
                    <h5><li>{{ course.name }}</li></h5>
                </a>
            {% empty %} 
                <li>No courses have been added yet.</li>
            {% endfor %} 
        </ul>
    <br/><br/>
    <h3>Reserved Intervals:</h3>
    <ul>
        {% for interval in user.reserved_intervals.all %} 
            <li>
                {{ interval }}
                {% if request.user == user %} 
                <a href="{% url 'core:user_interval_release' username=user.username pk=interval.pk %}">
                    <button type="button">Release</button>
                </a>
                {% endif %} 
            </li> 
        {% empty %} 
            <li>No Intervals have been reserved yet.</li>
        {% endfor %} 
    </ul>
    {% else %}
    <br/><br/>
    <h3>Courses:</h3>
    <ul>
        {% for course in user.courses.all %} 
            <h5>
                <li>
                    <a href="{% url 'core:course_details' course.course_number %}">
                        {{ course.name }}
                    </a>
                </li>
            </h5>
        {% empty %} 
            <li>No Course from this Teacher is available.</li>
        {% endfor %} 
    </ul>
    <br/><br/>
    <h3>Intervals:</h3>
    <ul>
        {% for interval in user.intervals.all %} 
            <li>
                {{ interval.day }} | From: {{ interval.start_time }} To: {{ interval.end_time }} | Capacity: {{ interval.capacity }} | Reserved: {{ interval.reserving_students.count }} 

                {% if not request.user.is_staff %} 
                <a href="{% url 'core:user_interval_reserve' username=user.username pk=interval.pk %}">
                    <button type="button">Reserve</button>
                </a>
                {% elif request.user == user %} 
                <a href="{% url 'core:user_interval_update' username=user.username pk=interval.pk %}">
                    <button type="button">Edit</button>
                </a>
                <a href="{% url 'core:user_interval_delete' username=user.username pk=interval.pk %}">
                    <button style="background-color: red" type="button">Delete</button>
                </a>
                {% endif %}
            </li>    
        {% empty %} 
            <li>No Intervals are available for this teacher.</li>
        {% endfor %} 
    </ul> 
    <a href="{% url 'core:user_interval_create' username=user.username %}"><button type="button">Add Interval</button></a>
    {% endif %}
    <br/><br/>
    {% if request.user == user %} 
    <a href="{% url 'core:user_delete' user.username %}">
        <button style="background-color: red" type="button">Delete Account</button>
    </a>
    {% endif %} 
{% endif %}
{% endblock %} 