{% extends 'layout.html' %} 
{% load crispy_forms_tags %} 


{% block head %} 
<title>Login</title>
{% endblock %} 


{% block body %} 
<h2>Login:</h2>
<form action="{% url 'core:user_login' %}" method="post">
    {% csrf_token %} 
    {{ form|crispy }}
    Forgot Password? 
    <a href="{% url 'core:password_reset_request' %}">
        Reset your password
    </a>.<br/><br/>
    <button type="submit">Login</button>
    <a href="{% url 'core:index' %}">
        <button type="button">Back to Homepage</button>
    </a>
</form>
<br/>
<div>
    Need a new account? <a href="{% url 'core:user_create' %}">Sign up</a>.
</div>
{% endblock %} 