{% extends 'layout.html' %} 

{% load static %} 


{% block head %}
<title>Users</title>
{% endblock %}

{% block body %} 
<div>
    <h4>Search in Users:</h4> 
    <form action="{% url 'core:user_list' %}" method="get">
        <input name="q" />
        <button type="submit">Search</button>
    </form>
</div>
<hr>
<h2>Teachers:</h2>
<div>
    <ul>
        {% for user in teacher_users %} 
            <li class="user-link">
                <h5>
                    <a href="{% url 'core:user_details' user.username %}">
                        {{ user.username }}
                    </a>
                </h5>
            </li>
        {% empty %} 
            <li>No Teachers at the moment...</li>
        {% endfor %} 
    </ul>
</div>
<hr>
<h2>Students:</h2>
<div>
    <ul>
        {% for user in student_users %} 
            <li class="user-link">
                <h5>
                    <a href="{% url 'core:user_details' user.username %}">
                        {{ user.username }}
                    </a>
                </h5>
            </li>
        {% empty %} 
            <li>No Students at the moment...</li>
        {% endfor %} 
    </ul>
</div>
{% endblock %} 